*.pyc
__pycache__
.DS_Store
.vscode
.idea
.pypirc
*/tmp/*
build/*
dist/*
*.egg-info
.python-version
logs
.coverage
locustfile.py
site/
reports
.venv
*.xml
htmlcov/
venv/
*.env
debugtalk.py
*.yml
reports/*
logs/*
common/*
data/*
locustfiles/*
